<div class="container color-dark">
  <div class="col">
    <p>Add Bucket</p>
  </div>
  <div class="col">
    <p>Your Bucket List</p>
  </div>
</div>

<div class="container color-light">
  <div class="col">
    <p class="sm">Hellloooooooo........</p>
    <form>
      <input type="text" class="txt" name="item" value="" placeholder="Goal..">
      <input type="submit" class="btn" name="" value="Add item">
    </form>
  </div>

  <div class="col">
    <p class="life-container">
      I want poop..
    </p>
  </div>
</div>
